body {
    background-color:lightpink;}





.dias {
    font-weight: 900;
    color: hotpink;
    font-size: 30px;

}

.horario {
    font-family:cursive;
    color: hotpink;
    font-size: 15px;}